#############################
# Maven
#############################
target/
*.log
*.class
*.jar
*.war

.mvn/
!/.mvn/wrapper/maven-wrapper.jar
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

#############################
# Node / Frontend embebido
#############################
images/
**/node_modules/
**/build/
**/dist/
**/static/
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#############################
# IDEs
#############################

# IntelliJ
.idea/
*.iml
*.iws
*.ipr
out/

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# VS Code
.vscode/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

#############################
# System
#############################
.DS_Store
Thumbs.db

#############################
# Git
#############################
*.orig
*.rej
*.patch
*.diff
*.bak
*.swp
*~

# Do not track other Git repos accidentally (if copied in)
**/.git/
**/.gitmodules

#############################
# Env / Secrets
#############################
.env
.env.*
*.db
*.sqlite
*.h2.db
*.mv.db

#############################
# Test reports / Coverage
#############################
test-output/
surefire-reports/
jacoco.exec
coverage/
